Installing packages and pulling data

In [22]:
import pandas as pd 
import numpy as np
import matplotlib as plt

In [23]:
df = pd.read_csv('/workspaces/gf_projects.github.io/WHO_LifeExpectancy/Life Expectancy Data.csv')
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

First taking a look at the data

In [24]:
#see initial column names
print(f"Column names (original): {df.columns}")

#removing trailing/leading spaces 
df.columns = df.columns.str.rstrip().str.lstrip()
print(f"Column names (fixed): {df.columns}")

Column names (original): Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')
Column names (fixed): Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

In [25]:
#pulling only select columns 
select_cols = df[['Country','Year','Status','Life expectancy','Measles','Schooling','HIV/AIDS','Alcohol']]

df = select_cols

In [26]:
#finding how many missing items per column
print(df.isnull().sum())

Country              0
Year                 0
Status               0
Life expectancy     10
Measles              0
Schooling          163
HIV/AIDS             0
Alcohol            194
dtype: int64

Lets also figure out how much data we would lose if we just got rid of all rows with NA values

In [27]:
df_noNAs = df[['Country','Year','Status','Life expectancy','Measles','Schooling','HIV/AIDS','Alcohol']].dropna()
df_noNAs

print(len(df_noNAs) / len(df) *100)
#87% of the data would remain if we just got rid of nas in data

87.95098706603132

Going to perform mean imputation within each country bc of the missing values

In [28]:
#first creating groups based on country 
group_df = df.groupby('Country')

groupCountry_names = list(group_df.groups.keys())
print(f'group names {groupCountry_names}')

group names ['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', "Côte d'Ivoire", "Democratic People's Republic of Korea", 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'The former Yugoslav republic of Macedonia', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom of Great Britain and Northern Ireland', 'United Republic of Tanzania', 'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe']

In [29]:
#now going to mean impute each columns based on mean of country across all years

#mean impute for alcohol 
df['Alcohol'] = df.groupby('Country')['Alcohol'].transform(lambda x: x.fillna(x.mean()))

#life expectancy  
df['Life expectancy'] = df.groupby('Country')['Life expectancy'].transform(lambda x: x.fillna(x.mean()))

#measles 
df['Measles'] = df.groupby('Country')['Measles'].transform(lambda x: x.fillna(x.mean()))

#hiv
df['HIV/AIDS'] = df.groupby('Country')['HIV/AIDS'].transform(lambda x: x.fillna(x.mean()))

#schooling
df['Schooling'] = df.groupby('Country')['Schooling'].transform(lambda x: x.fillna(x.mean()))

#checking all to see if there are still any nas left 
print(df.isnull().sum())

Country              0
Year                 0
Status               0
Life expectancy     10
Measles              0
Schooling          163
HIV/AIDS             0
Alcohol             17
dtype: int64

/tmp/ipykernel_43761/4092497352.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Alcohol'] = df.groupby('Country')['Alcohol'].transform(lambda x: x.fillna(x.mean()))
/tmp/ipykernel_43761/4092497352.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Life expectancy'] = df.groupby('Country')['Life expectancy'].transform(lambda x: x.fillna(x.mean()))
/tmp/ipykernel_43761/4092497352.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Measles'] = df.groupby('Country')['Measles'].transform(lambda x: x.fillna(x.mean()))
/tmp/ipykernel_43761/4092497352.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HIV/AIDS'] = df.groupby('Country')['HIV/AIDS'].transform(lambda x: x.fillna(x.mean()))
/tmp/ipykernel_43761/4092497352.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Schooling'] = df.groupby('Country')['Schooling'].transform(lambda x: x.fillna(x.mean()))

In [30]:
#figuring out why there are still null values for alc 

alc_rows_nan = df[df['Alcohol'].isnull()]
print(alc_rows_nan[['Country', 'Year', 'Alcohol']])

#print(df['col2'][df['col2'].isnull()])

          Country  Year  Alcohol
1958        Palau  2013      NaN
2409  South Sudan  2015      NaN
2410  South Sudan  2014      NaN
2411  South Sudan  2013      NaN
2412  South Sudan  2012      NaN
2413  South Sudan  2011      NaN
2414  South Sudan  2010      NaN
2415  South Sudan  2009      NaN
2416  South Sudan  2008      NaN
2417  South Sudan  2007      NaN
2418  South Sudan  2006      NaN
2419  South Sudan  2005      NaN
2420  South Sudan  2004      NaN
2421  South Sudan  2003      NaN
2422  South Sudan  2002      NaN
2423  South Sudan  2001      NaN
2424  South Sudan  2000      NaN

Looks like there is no information about alcohol for South Sudan, consider this when doing analysis on life expectancy and alcohol intake

In [31]:
school_rows_nan = df[df['Schooling'].isnull()]
print(alc_rows_nan[['Country', 'Year', 'Schooling']])

          Country  Year  Schooling
1958        Palau  2013       14.2
2409  South Sudan  2015        4.9
2410  South Sudan  2014        4.9
2411  South Sudan  2013        4.9
2412  South Sudan  2012        4.9
2413  South Sudan  2011        4.9
2414  South Sudan  2010        0.0
2415  South Sudan  2009        0.0
2416  South Sudan  2008        0.0
2417  South Sudan  2007        0.0
2418  South Sudan  2006        0.0
2419  South Sudan  2005        0.0
2420  South Sudan  2004        0.0
2421  South Sudan  2003        0.0
2422  South Sudan  2002        0.0
2423  South Sudan  2001        0.0
2424  South Sudan  2000        0.0

In [ ]:
#lets see whether certain countries are just missing a lot of data 
na_count_groups = df.groupby('Country').apply(lambda x: x.isna().sum())

#sum across rows
total_na_groups = na_count_groups.sum(axis = 1)

#seeing countries with the most NAs remaining 
print(total_na_groups.nlargest(20))

Country
Czechia                                                 16
Côte d'Ivoire                                           16
Democratic People's Republic of Korea                   16
Democratic Republic of the Congo                        16
Republic of Korea                                       16
Republic of Moldova                                     16
Somalia                                                 16
South Sudan                                             16
United Kingdom of Great Britain and Northern Ireland    16
United Republic of Tanzania                             16
United States of America                                16
Cook Islands                                             2
Monaco                                                   2
Niue                                                     2
Palau                                                    2
Dominica                                                 1
Marshall Islands                                         1
Nauru                                                    1
Saint Kitts and Nevis                                    1
San Marino                                               1
dtype: int64

/tmp/ipykernel_43761/3926233793.py:2: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  na_count_groups = df.groupby('Country').apply(lambda x: x.isna().sum())